selenium==4.30.0
webdriver-manager==4.0.2
pdfplumber
tiktoken
openai
requests
pandas
reportlab
kiteconnect
beautifulsoup4
python-dateutil
plotly
streamlit
PyPDF2
python-dotenv
yfinance
pyotp==2.9.0